<div class="container" style="text-align: center; margin-bottom: 20px;">
    <div style="margin: 24px;">
        <h1>Transaction Summary</h1>
        <h5 style="color: darkgray">Dates: 2017/04/04 - 2017/05/01</h5>
    </div>
    <ul class="list-group" style="text-align: left;">
        <li class="list-group-item row justify-content-between" *ngFor="let transaction of transactions">
            <div class="col-8">
                <p style="color: dimgrey">{{transaction?.name}}</p>
                <p>{{transaction?.category}}</p>
            </div>
            <div class="col-3">
                <p>{{transaction?.amount}}</p>
            </div>
        </li>
    </ul>
</div>