/* You can add global styles to this file, and also import other style files */
body{
  background-color: ghostwhite;
}

body h1{
  color: gray;
}

body h2{
    color: dimgray;
}

body h4{
  color: darkgray;
}

body p{
  color:darkgray;
}

@font-face{
  font-family:"Logo";
  src: url('assets/fonts/arial-black.ttf');
}

.logo{
  font-family:"Logo";
  color: #66b3ff;
}


