.background{
    background-color: lightslategray;
    width: 100%;
    padding: 0px;
    bottom: 0px;
    margin-bottom: 0px;
    overflow: hidden;
}

#copyright{
    color: lightgray;
    font-weight: lighter;
}