<nav class="navbar navbar-toggleable-sm justify-content-end" style="background-color: white">
  <div class="container ">
    <div class="navbar-brand mr-auto">
      <h1 class="display-4" style="font-family: 'Arial Black'; font-weight: bold; color: #66b3ff;"> teller</h1>
    </div>
    <a href="#" class="nav-item nav-link ">Home</a>
    <a href="#" class="nav-item nav-link">About</a>
    <button type="button" class="btn btn-primary nav-item nav-link" id="signup-nav-button">Sign Up</button>

  </div>


</nav>

<app-home-component></app-home-component>
