<div class="container text-center">


    <div style="margin: 24px;">
        <h1>Budgets</h1>
    <div>



    <ul class="list-group" style="text-align: left;">
        <li class="list-group-item row justify-content-between" *ngFor="let budget of budgets">
            <p>{{budget.percentage}}</p>

            <div class="progress" style="width: 100%;">
                <div class="progress-bar" role="progressbar"  style="width: 25%; height: 20px" attr.aria-valuenow="{{budget.percentage}}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

        </li>
    </ul>
</div>