  <head>
    <title>Teller - Your Personal Finance Assistant</title>
  </head>

  <body>

  <div class="jumbotron-page" id="header-jumbotron" style="background-image: url('https://s3.amazonaws.com/tellerbots3bucket/Lower_Manhattan_Aerial-1.jpg'); background-position: center; min-height: 50%; -webkit-background-size: ;background-size: cover;" >

    <div class="container d-flex justify-content-center">
      <div class="row">

      </div>
    </div>

  </div>


    <div class="container ">
      <div class="row">
        <div class="col-sm-12 col-md-4">
        <h1 style="color: gray; padding-top: 50px;">Teller is your personal finance assistant.</h1>
          <p style="color: darkgray;">Teller helps you manage your spending and alerts you when you are over your limits.</p>
        </div>


      </div>
    </div>




  </body>


