
.header-text{
  height:600px;
  position: relative;
}
.header-text h1{
  margin: 0;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 75px;
  font-weight: 600;
}

#spending{
  width: 80%;
  height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

}

.image-center {
  height:600px;
  position: relative;

}

.image-center img{
  margin: 0;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height:95%;
}

.jumbotron{
  padding:0px 0 0px 0;
}

.panel{
  margin-bottom: 20px;
}

.type{
  color: gray;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: small;
}
#circle{
  background-color: #66b3ff;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  position: relative;
  left: 50%; transform:
  translate(-60%,0%);
  margin: 20px;
}



/* Large desktops and laptops */

@media (min-width: 1200px) {

  .header-text{
    height:550px;
    position: relative;
  }
  .header-text h1{
    font-size: 75px;
  }
  .image-center {
    height:550px;
    position: relative;

  }

}


/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

  .header-text{
    height:500px;
    position: relative;
  }
  .header-text h1{
    font-size: 60px;
  }
  .image-center {
    height:500px;
    position: relative;

  }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .header-text{
    height:300px;
    position: relative;
  }
  .header-text h1{
    font-size: 60px;
  }

  .image-center {
    height:300px;
    position: relative;

  }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .header-text{
    height:300px;
    position: relative;
  }
  .header-text h1{
    font-size: 60px;
  }
  .image-center {
    height:300px;
    position: relative;

  }

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}

