  <head>
    <title>Teller - Your Personal Finance Assistant</title>
  </head>

  <body>

  <div class="jumbotron "
       style="background-image: url('https://s3.amazonaws.com/tellerbots3bucket/Lower_Manhattan_Aerial-1.jpg'); background-position: center; min-height: 50%; -webkit-background-size: cover;background-size: cover;" >
    <div class="container" style="">
      <div class=" row">
        <div class="col-sm-6 text-center header-text">
          <h1>your personal finance assistant</h1>
        </div>
        <div class="col-sm-6 image-center hidden-xs-down" style="">
          <img class="img-fluid" src="https://s3.amazonaws.com/tellerbots3bucket/iphone-6GREY.png">
        </div>
      </div>
    </div>

  </div>
  <div class="container " style="margin-top: 50px;  padding-top: 10px;">
      <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-8 " style="margin-bottom: 50px;">
          <h1 style="color: gray; ">Introducing your new spending assistant.</h1>
          <p style="color: darkgray;">Teller tells you when you are going over your limits and gives you insightful advice on how to manage your budget.</p>
        </div>
      </div>

    <div class="row justify-content-between">

      <div class="col-xs-12 col-md-6 text-center" style="">
        <div class="panel" style="padding-left: 100px; padding-top: 100px; padding-right: 100px; background-color: #bad3ff;">
          <p class="type">BUDGETING</p>
          <h3 style="color: dimgrey; ">Set budgets.</h3>
          <p style="color: darkgray;">Teller helps you decide what to budget and helps you stick to your budgets.</p>
          <img style="width: 75%;" src="https://s3.amazonaws.com/tellerbots3bucket/IMG_0082_iphone7silver_portrait.png">
        </div>

        <div style="padding: 40px; background-color: #d6e5ff; left: 50%;" class="text-center panel">

          <p class="type">EFFICENCY</p>
          <img style="width: 35%; margin: 20px;" src="https://cdn.worldvectorlogo.com/logos/facebook-messenger.svg">
          <h3 style="color: dimgrey; ">Teller is the quickest way to manage your finances.</h3>
          <p style="color: darkgray;">Teller is right inside Messenger and its smart chat interface makes managing your money a breeze.  </p>
        </div>



      </div>

      <div class="col-xs-12 col-md-6 text-center" style="">

        <div style="padding: 40px; background-color: #d6e5ff; left: 50%;" class="text-center panel">
          <p class="type">STATS</p>
          <h3 style="color: dimgrey; ">Ask Teller about your accounts.</h3>
          <p style="color: darkgray;">Teller is up to date on all your accounts. It knows things like your balance and recent transactions. </p>
        </div>

        <div style="padding: 40px; background-color: #d6e5ff; left: 50%;" class="text-center panel">
          <div style="" id="circle">
            <img id="spending" src="https://s3.amazonaws.com/tellerbots3bucket/spending.svg">
          </div>
          <p class="type">ANALYSIS</p>
          <h3 style="color: dimgrey; ">Get stats and info about your accounts.</h3>
          <p style="color: darkgray;">Teller tells you when you are going over your limits and gives you insightful advice on how to manage your budget.</p>
        </div>


      </div>
      </div>

  </div>




  </body>


