
<div style="margin-bottom: 10px;">
    <p class="entryTitle"><b>Primary email:</b></p> <p style="display: inline">{{currentUser?.email}}</p>
</div>

<div style="margin-bottom: 10px;">
    <p class="entryTitle"><b>User ID:</b></p> <p style="display: inline;">{{currentUser?.userID}}</p>
</div>

<div style="margin-bottom: 10px;">
    <p class="entryTitle"><b>Facebook Account Linked:</b></p> <p style="display: inline; margin-right: 10px;">{{currentUser?.facebookID}}</p> <p style="display: inline; text-decoration: underline; cursor: pointer; color: cornflowerblue;">Unlink</p>
</div>

<div style="margin-bottom: 10px;">
    <p class="entryTitle"><b>Bank Account Linked:</b></p> <p style="display: inline; margin-right: 10px;">{{currentUser?.facebookID}}</p> <p style="display: inline; text-decoration: underline; cursor: pointer; color: cornflowerblue;">Unlink</p>
</div>

<div>
    <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="true" data-auto-logout-link="false" data-use-continue-as="true" id="fblogin"></div>
</div>
<button class="btn-primary btn" style="margin-bottom: 10px;" (click)="linkAccountPressed()">Link Bank Account</button>
