
<div style="margin-bottom: 10px;">
    <p class="entryTitle"><b>Primary email:</b></p> <p style="display: inline">{{currentUser?.email}}</p>
</div>

<div style="margin-bottom: 10px;">
    <p class="entryTitle"><b>User ID:</b></p> <p style="display: inline;">{{currentUser?.userID}}</p>
</div>

<div style="margin-bottom: 10px;">
    <p class="entryTitle"><b>Bank Account Linked:</b></p> <p style="display: inline; margin-right: 10px;"></p> <p style="display: inline; text-decoration: underline; cursor: pointer; color: cornflowerblue;">Unlink</p>
</div>

<div>
    <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="true" data-auto-logout-link="false" data-use-continue-as="true" id="fblogin"></div>
</div>

<hr>
<h2>Connections</h2>
<div class="row justify-content-center">
    <div class="col-3 justify-content-center" style="text-align: center">
        <img style="margin: 30px;" class="img-fluid" src="https://s3.amazonaws.com/tellerbots3bucket/National-Bank.svg">
        <button class="btn-primary btn" style="margin-bottom: 10px;" (click)="linkAccountPressed()">Link Bank Account</button>
    </div>
</div>
